<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
                <!-- logo -->
                <div class="site-logo">
                    <a th:href="@{/index}">
                        <img th:src="@{~/assets/img/logo.png}" alt="">
                    </a>
                </div>
                <!-- logo -->

                <!-- menu start -->
                <nav class="main-menu">
                    <ul>
                        <li class="current-list-item"><a th:href="@{index}">Home</a>
                        </li>
                        <li><a th:href="@{about}">About</a></li>
                        <li><a th:href="@{news}">News</a>
                        </li>
                        <li><a th:href="@{contact}">Contact</a></li>
                        <li><a th:href="@{shop}">Shop</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{checkout}">Check Out</a></li>
                                <li><a th:href="@{cart}">Cart</a></li>
                            </ul>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}">
                            <a th:href="@{info}">Profile</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{logout}">Logout</a></li>
                                <li><a th:href="@{info}">Profile</a></li>
                                <li><a th:href="@{history-order}">HistoryOrder</a></li>
                            </ul>
                        </li>
                        <li th:unless="${#authorization.expression('isAuthenticated()')}">
                            <a th:href="@{login}">Login</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{login}">Login</a></li>
                                <li><a th:href="@{register}">Register</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="header-icons">
                                <a class="shopping-cart" th:href="@{cart}"><i
                                        class="fas fa-shopping-cart"></i></a>
                                <a class="mobile-hide search-bar-icon" href="#"><i
                                        class="fas fa-search"></i></a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                <div class="mobile-menu"></div>
                <!-- menu end -->
            </div>
        </div>
    </div>
</div>