:root {
    --main-color: #f28123;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 550px;
    min-height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.main .ngang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .head {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main .head h1 {
    font-weight: bold;
}

.main .logo img {
    width: 40%;
}

.mauChinh {
    color: var(--main-color);
}